@keyframes hoverOpen {
    from {
        transform: scaleX(0)
    }

    to {
        transform: scaleX(1)
    }
}

@keyframes header-fadeOut {
    from {
        transform: translate(-50%, 25%);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes smoothHeader {
    from {
        height: 224px;
    }

    to {
        height: 80px;
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 16px 8px;
    background-color: #000;
    color: #fff;
    z-index: 100;

    // headerLeft
    .headerLeft {
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 5px;


        .leftLogo {
            object-fit: contain;
            object-position: left;
            height: 100%;
            cursor: pointer;
        }

        .logoMobile {
            display: none;
        }

        .logoPc {
            display: block;
        }
    }

    // headerMiddle
    .midleContainer {
        color: #fff;
        align-items: center;


        ul {
            list-style: none;
        }

        .midleItem {
            padding: 10px 12px;
            position: relative;
            cursor: pointer;
            white-space: nowrap;
        }

        .midleItem.active.midleItem::before {
            width: 20px;
            left: 36%;
            display: block;
        }

        .midleItem:hover {
            opacity: 0.8;
        }

        .midleItem:hover.midleItem::before {
            animation: hoverOpen linear 0.2s;
            display: block;
        }

        .midleItem::before {
            content: "";
            display: none;
            position: absolute;
            width: 4px;
            bottom: 0;
            left: 50%;
            border-bottom: solid 2px #fff;
        }
    }


    // headerRight
    .rightContainer {
        font-size: 14px;


        .rightButton {
            display: inline-block;
            line-height: 0;
            color: inherit;
            background-color: transparent;
            border: none;
            padding: 8px;
            margin: 0 8px;
            box-sizing: content-box;
            border-radius: 50%;
        }

        .rightBecomeHost {
            padding: 8px 16px;
            border-radius: 36px;
        }

        .rightBecomeHost:hover,
        .rightButton:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }

        .userLoggin {
            background-color: #fff;
            color: rgb(131, 131, 131);
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            padding: 4px 8px;
            border-radius: 24px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-left: 4px;
            position: relative;

            // loginIcon
            span {
                display: inline-block;
                width: 20px;
                line-height: 0;
            }

        }

        // DropBox
        .userDropbox {
            color: #000;
            position: absolute;
            top: 130%;
            right: 0;
            background-color: #fff;
            width: 246px;
            text-align: left;
            border-radius: 16px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            display: none;

            p {
                padding: 16px 16px;
            }

            // Upper
            .userDropBoxTop {
                border-bottom: 1px solid #ccc;
            }

            .signIn {
                font-weight: 600;
            }

            // Footer
        }

        .active {
            display: block;
            z-index: 1;
        }
    }

    // SearchActive
    .searchActiveContainer {
        height: 150px;



        .midleContainerSticky {
            display: none;
        }

        .searchActive {
            position: relative;
            top: 0;
            left: 50%;
            transform: translate(-50%, 25%);
            width: 100%;
            max-width: 860px;
            height: 70px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            color: #000;
            font-size: 14px;

            .searchActiveContent {
                position: relative;
                flex: 25% 25% 1;
                align-self: stretch;
                padding: 16px 20px;
                border-radius: 36px;
                cursor: pointer;

                .searchActiveText {
                    color: #ccc;
                }

                input {
                    border: none;
                    background-color: inherit;
                    width: 100%;
                }

                input::placeholder {
                    color: #ccc;
                }

                input:focus {
                    outline: none;
                }

                .searchActiveSearchPlace {
                    width: 404px;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: #fff;
                    padding: 24px 0 8px 0;
                    margin-top: 10px;
                    border-radius: 36px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                    cursor: default;

                    .searchPlaceDefault {
                        padding: 0 32px;

                        .placeText {
                            margin-bottom: 24px;
                        }

                        .placeButton {
                            width: 316px;
                            display: flex;
                            padding: 4px 24px;
                            margin-top: 8px;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 36px;
                            border: 1px #ccc solid;
                            background-color: #fff;
                            cursor: pointer;
                            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                            .placeButtonText {
                                color: #a230a6;
                                font-weight: bold;
                                font-size: 16px;
                            }

                            .placeButtonIcon svg {
                                height: 36px;
                                color: #a230a6;
                            }
                        }

                        .placeButton:hover {
                            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
                        }
                    }

                    .searchPlaceActive {

                        .placeActiveContainer {
                            display: flex;
                            padding: 0 32px;
                            align-items: center;

                            .locationIcon  {
                                padding: 16px;
                                margin: 8px 12px 8px 0;
                                background-color: rgb(230, 230, 230);
                                border-radius: 12px;

                                svg {
                                    font-size: 24px;
                                    color: rgb(44, 44, 44);
                                }
                            }
                            .locationIcon:nth-child(4) {
                                margin-top: 0;
                            }

                            .locationText {

                            }
                        }
                    }
                }
            }

            .actived {}

            .actived.searchActiveContent:hover {
                background-color: #fff;
            }


            .searchActiveContent:hover {
                background-color: rgb(240, 240, 240);
            }

            .searchActiveContent::after {
                content: '';
                height: 32px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(-50%, -50%);
                border-right: 1px solid rgb(214, 214, 214);
            }

            .searchActiveContent:nth-child(4)::after {
                border: none;
            }

            .searchActiveButton {
                right: 16px;
                position: absolute;
                width: 50px;
                line-height: 0;
                padding: 16px;
            }
        }
    }
}

// Extra
.midleContainer1 {
    color: #000;
    background-color: #fff;
    padding: 8px 12px 8px 16px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #ccc;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    font-weight: 600;

    .midleContainerIcon {
        display: flex;
        height: 16px;
        width: 16px;
        padding: 8px;
        box-sizing: content-box;
        margin-right: -4px;
    }
}

.midleContainer1:hover {
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

// Button
.searchButton {
    border-radius: 100%;
    color: #fff;
    background-color: #FF385C;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #fc224a;
}

// Extra
.cursorPointer {
    cursor: pointer;
}

.icon20 {
    height: 20px;
}

.icon30 {
    height: 30px;
}

.positionRelative {
    position: relative;
}

.hide {
    display: none !important;
}

.backgroundWhite {
    background-color: #fff;
    animation: smoothHeader .1s linear;
}

.backgroundF7 {
    background-color: #f7f7f7;
}

.colorBlack {
    color: #000 !important;
}

.h80 {
    height: 80px;
}

// Responsive
@media (min-width: 950px) and (max-width: 1123px) {}

@media (min-width: 742px) and (max-width: 949px) {}


// Change logo
@media (max-width: 1123px) {
    .logoMobile {
        display: block !important;
    }

    .logoPc {
        display: none !important;
    }

    .midleItem {
        font-size: 14px;
    }
}

// Hide midle Navbar - Show it stick with search
@media (max-width: 1023px) {

    .midleContainer {
        display: none !important;
    }

    // Stick navbar showup
    .midleContainerSticky {
        display: flex !important;
        align-items: center;
        justify-content: center;

        .midleItem {
            padding: 10px 12px;
            position: relative;
            cursor: pointer;
            white-space: nowrap;
            list-style: none;
        }

        .midleItem:hover {
            opacity: 0.8;
        }

        .midleItem:hover.midleItem::before {
            animation: hoverOpen linear 0.2s;
            display: block;
        }

        .midleItem::before {
            content: "";
            display: none;
            position: absolute;
            width: 4px;
            bottom: 0;
            left: 50%;
            border-bottom: solid 2px #fff;
        }
    }
}

// Only search show
@media (max-width: 739px) {
    .header {

        * {
            display: none;
        }
    }
}